/* 다시 부평이란? */
.intro {
    width: 100%;
    height: 650px;
    background-color: #EBF3D3;
}

.i_content {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i_item {
    width: 250px;
    text-align: center;
}

.i_item > img {
    width: 200px;
}

.key {
    color: var(--main-color);
    font-size: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 900;
}

.key_cont {
    margin-top: 20px;
    font-size: 19px;
}