/* 실천방법 */
.method {
    width: 100%;
    background-color: #66D918;
    height: 650px;
}

.m_container {
    width: 1200px;
    margin: 0 auto;
}

.m_content {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m_img {
    width: 250px;
    height: 250px;
    padding: 25px;
    background-color: white;
    border-radius: 150px;
}

.m_img img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.m_item p {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}

.m_img:hover {
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
}