* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MangoBoard-R';
}

/* font */


/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard';
    src: url('./Font/web/variable/pretendardvariable.css') format('woff-variations');
    font-style: normal;
}

/* 망고보드 */

/* 얇은 굵기 */
@font-face {
    font-family: 'MangoBoard-L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-L.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

/* 기본 굵기 */
@font-face {
    font-family: 'MangoBoard-R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-R.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

/* root */

:root {
    --main-color: #8dae57;
    --mainDark-color: #2a5b2f;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 헤더 */
header {
    width: 100%;
    height: 80px;
    padding-inline: 80px;
    display: flex;
    justify-content: space-between;
}

/* 로고 */
.logo {
    height: 100%;
    display: flex;
    align-items: end;
}

.logo img {
    width: 160px;
    height: 60px;
}

/* 로그인 */
.user {
    height: 100%;
    display: flex;
    align-items: end;
}

.user > button {
    width: 130px;
    height: 60px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.user > button > a {
    width: 100%;
    height: 100%;
    display: block;
    align-content: center;
}

.sign-in {
    background-color: #eeeeee;
}

.sign-up {
    background-color: black;
    color: #ffffff;
}

/* 비주얼 */
.visual {
    background: url(../img/main.jpg);
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.v_content {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 1000px;
}

.mainSub_img {
    height: 68%;
    margin-top: 50px;
}

/* 비주얼 텍스트 */
.main_text {
    font-size: 70px;
    color: white;
    letter-spacing: 10px;
    font-family: 'MangoBoard-L';  
    font-weight: 100;
}

.main_text span {
    font-weight: 900;
    color: var(--mainDark-color);
}

/* 사이드 메뉴 */
.side_menu {
    position: fixed;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.s_list {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #d7d7d7;
    margin: 10px;
    padding: 5px;
    position: relative;
    align-content: center;
    text-align: center;
}

.s_list > img {
    width: 60px;
    height: 60px;
    transform: rotate(20deg);
}

.s_list::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.s_text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 12px;
    width: 80px;
    height: 80px;
    text-align: center;
    align-content: center;
    opacity: 0;
    visibility: hidden;
    font-weight: 900;
    font-family: 'MangoBoard-R';
    transition: 0.2s ease-in-out;
}

.s_list:hover .s_text {
    opacity: 1;
    visibility: visible;
}

.s_list:hover::before {
    opacity: 0.6;
    visibility: visible;
}