* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MangoBoard-L';
}

/* font */


/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard';
    src: url('./Font/web/variable/pretendardvariable.css') format('woff-variations');
    font-style: normal;
}

/* 망고보드 */
@font-face {
    font-family: 'MangoBoard-L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-L.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

/* root */

:root {
    --main-color: #8dae57;
    --mainDark-color: #2a5b2f;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 헤더 */
header {
    width: 100%;
    height: 80px;
    padding-inline: 80px;
    display: flex;
    justify-content: space-between;
}

/* 로고 */
.logo {
    height: 100%;
    display: flex;
    align-items: end;
}

.logo img {
    width: 160px;
    height: 60px;
}

/* 로그인 */
.user {
    height: 100%;
    display: flex;
}

.user_box {
    width: 130px;
    overflow: hidden;
    height: 80px;
}

.user_label {
    width: 200%;
    height: 100%;
    display: flex;
    align-items: end;
    transition: 0.2s ease-in-out;
}

.user_label > button {
    min-width: 130px;
    height: 60px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.user_label > button > a {
    width: 100%;
    height: 100%;
    display: block;
    align-content: center;
}

.user_box:hover .user_label {
    transform: translateX(-130px);
}

.sign-inB {
    background-color: #ffffff;
}

.sign-inT {
    background-color: #2a5b2f;
    color: white;
}

.sign-upB {
    background-color: black;
    color: #ffffff;
}

.sign-upT {
    background-color: #2a5b2f;
    color: white;
}

/* 비주얼 */
.visual {
    background: url(../img/main.jpg);
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.v_content {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 1000px;
}

.mainSub_img {
    height: 68%;
    margin-top: 50px;
}

/* 비주얼 텍스트 */
.main_text {
    font-size: 70px;
    color: white;
    letter-spacing: 10px;
    font-family: 'MangoBoard-L';  
    font-weight: 100;
}

.main_text span {
    font-weight: 900;
    color: var(--mainDark-color);
}

/* 사이드 메뉴 */
.side_menu {
    position: fixed;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.s_list {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 5px;
    position: relative;
    align-content: center;
    text-align: center;
}

.s_list > img {
    width: 60px;
    height: 60px;
    transform: rotate(20deg);
    object-fit: contain;
}

.s_list::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.s_text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 12px;
    width: 80px;
    height: 80px;
    text-align: center;
    align-content: center;
    opacity: 0;
    visibility: hidden;
    font-weight: 900;
    transition: 0.2s ease-in-out;
}

.s_list:hover .s_text {
    opacity: 1;
    visibility: visible;
}

.s_list:hover::before {
    opacity: 0.6;
    visibility: visible;
}

/* 스크롤 효과 */
.container.show {
    opacity: 1;
    transform: translateY(0);
}

.container {
    opacity: 0; /* 투명하게 - 보이지 않음 */
    transform: translateY(50px); /* 아래로 50px 이동해 둠(시작 위치) */
    transition: opacity 0.8s ease, transform 0.8s ease; /* 변화(transition) 설정 */
}

/* 컨테이너 h1 h2 값 */
.container > h1 {
    text-align: center;
    padding-top: 60px;
    font-weight: 900;
    font-size: 60px;
    color: var(--mainDark-color);
}

.container > h2 {
    margin-top: 30px;
    text-align: center;
    font-weight: 100;
}

/* 컨테이너 */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* footer */
footer {
    width: 100%;
    height: 350px;
    background-color: var(--mainDark-color);
    padding-inline: 100px;
}

.f_top {
    color: white;
    font-size: 25px;
    height: 280px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 40px 0;
}

.f_top img {
    width: 320px;
}

.f_bottom {
    padding-top: 20px;
    color: #dddddd;
    display: flex;
    justify-content: space-between;
}

.f_bottom > p {
    align-content: center;
}

/* 로그인 후에 화면 */
.loginuser_box {
    align-items: center;
    font-size: 20px;
    display: flex;
    cursor: pointer;
}

.loginuser_box > p > i{
    margin-left: 10px;
}

.login_bar {
    margin: 0 15px 0 15px;
}