<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/login.css">
</head>
<body>
    <section id="visual">
        <img id="backImg" src="../IMG/main.jpg" alt="비주얼 백그라운드 이미지" title="풀숲">
        <div class="login_box">
            <!-- logo -->
            <div class="logo_login">
                <img src="../IMG/logo.png" alt="">
            </div>

            <!-- 이메일 -->
            <input type="email" placeholder="이메일을 입력해주세요" id="email">
            <!-- 비밀번호 -->
            <input type="password" placeholder="이메일을 입력해주세요" id="pass">
        </div>
    </section>
</body>
</html>