@import url("../../../../CSS/style.css");

/* 로그인 페이지 */
body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: var(--main-color); 
}

img {
    width: 180px;
    margin-bottom: 20px;
}

.login-box { 
    background: white; 
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    width: 400px;
    height: 400px;
    text-align: center;
}

input[type="text"], input[type="password"] { 
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
}

input[type='password'] {
    margin-bottom: 20px;
}

form {
    text-align: center;
}


button { 
    width: 250px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 900;
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
}

button:hover {
    box-shadow: inset 5px 5px 3px 3px rgba(0,0,0,0.1);
    background-color: var(--main-color);
    color: white;
}

p {
    margin: 0 !important;
}

.error { color: #E74C3C; margin-top: 10px; }