/* 자연순환 참여기업 */
#company {
    background-color: white;
}

.comp_con {
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
}

.comp_item {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #a7d0ab;
    border-radius: 40px;
    overflow: hidden;
    padding: 30px;
}

.comp_item h1 {
    font-size: 3rem;
    text-transform: capitalize;
}

.comp_item p {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.comp_item h2 {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 3rem;
    color: var(--sub-color);
}