/* 다시 부평이란? */
.sec {
    position: relative;
    padding: 150px 0;
}

#intro {
    width: 100%;
    height: 100vh;
    background-color: var(--sec-color);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    overflow: hidden;
    z-index: 2;
}

/* 콘텐츠 */
.intro_cont {
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.intro_item {
    position: relative;
    width: 100%;
    text-align: center;
}

.intro_item img {
    object-fit: cover;
    width: 200px;
}

.key {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--sub-color);
}

.key_exp {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
}
