/* 로그인 */
#visual {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    width: 350px;
    height: 450px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 4px rgba(0,0,0,0.2);
    text-align: center;
    padding: 40px 20px;
    z-index: 10;
}

.logo_login {
    width: 100%;
}

.logo_login > img {
    object-fit: cover;
    width: 160px;
    aspect-ratio: 2.5 / 1;
}

.input_box {
    position: relative;
}

.input_box > input {
    width: 300px;
    height: 40px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    outline: none;
    color: black;
    background-color: transparent;
}

.holder {
    position: absolute;
    top: 42px;
    left: 14px;
    color: gray;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

.input_box > input:focus {
    border-color: var(--main-color);
}

.input_box > input:focus ~ .holder{
    top: 20px;
    font-size: 12px;
    color: var(--main-color);
}

.input_box > input:valid ~ .holder {
    top: 20px;
    font-size: 12px;
    color: var(--main-color);
}

.check {
    margin-top: 10px;
    text-align: left;
    padding-left: 5px;
    display: flex;
    height: 20px;
}

.check > span {
    display: block;
    height: 100%;
    align-content: center;
    margin-left: 10px;
    font-size: 11px;
    font-weight: bold;
}

#login_btn {
    width: 300px;
    height: 40px;
    margin-top: 45px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    transition: .2s ease-out;
    font-weight: bold;
    font-size: 15px;
    border-radius: 45px;
}

#login_btn:hover {
    box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
    color: #eee;
}

#register {
    display: block;
    margin-top: 30px;
    font-size: 13px;
}

#register > a {
    color: var(--main-color);
    position: relative;
}

#register > a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}