/* 자원순환 실천방법 */
#method {
    background-color: white;
    height: 170vh;
    z-index: 1;
    overflow: hidden;
}

#method::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 80vw;
    background-color: #a7d0ab;
    border-radius: 15vw;
    transform: translate(50%, -25%) rotate(30deg);
    z-index: 2;
}

#method::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60vw;
    height: 60vw;
    background-color: var(--sub-color);
    border-radius: 15vw;
    transform: translate(-50%, 25%) rotate(30deg);
    z-index: 2;
}

/* 물줄기 */
.water_course {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    aspect-ratio: 1;
    background-color: lightblue;
    z-index: 1;
}

/* 콘텐츠 제목 */
.con_title h1 {
    font-size: 4rem;
    color: var(--sub-color);
    margin-bottom: 20px;
}

.con_title h3 {
    font-size: 1.8rem;
}