/* 네프론이란 */
#nephron {
    background-color: lightblue;
    min-height: 150vh;
}

.nep_exp { text-align: center; }

.nep_exp p {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--sub-color);
}

.nep_exp h1 {
    font-size: 6.5rem;
    font-weight: bold;
    line-height: 8.5rem;
    margin: 60px 0 150px 0;
}

.nep_con {
    display: flex;
    justify-content: space-between;
    padding: 160px 0;
}

.nep_con:nth-of-type(1) { padding-top: 0; }
.nep_con:nth-last-of-type(1) { padding-bottom: 0; }

.nep_img {
    width: 520px;
    height: 640px;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.nep_img img {
    object-fit: cover;
    width: 100%;
}

#superbin img { width: 80%; }

/* 콘텐츠 */
.nep_info { width: 520px; }

.nep_info h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--sub-color);
}

.nep_info h1 {
    margin: 40px 0 60px 0;
    font-size: 4rem;
}

.nep_info p {
    font-size: 2rem;
    line-height: 3.5rem;
}