/* 게시판 */
#notice {
    width: 100%;
    background-color: white;
    padding-block: 100px;
}

.sec_title {
    text-align: left;
}

.n_box {
    width: 100%;
}

.serching {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.list_count {
    font-size: 20px;
    align-content: end;
}

.list_count > span {
    font-weight: bold;
}

.s_listBox {
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    position: relative;
    height: 45px;
}

.s_listBox > input {
    border: none;
    width: 350px;
    height: 30px;
    outline: none;
    padding: 5px 40px 5px 5px;
    background-color: transparent;
}

.s_listBox > input::placeholder {
    font-size: 16px;
}

.s_listBox > input:focus {
    border-bottom: 2px solid var(--main-color);
}

.s_listBox > i {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 16px;
}

.board {
    width: 100%;
    margin-top: 50px;
    border-top: 3px solid var(--sub-color);
    border-bottom: 3px solid var(--sub-color);
    counter-reset: item;
}

.board > li {
    width: 100%;
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    align-items: center;
    padding: 45px 30px;
    font-size: 18px;
    cursor: pointer;
    counter-increment: item;
    justify-content: space-between;
    gap: 30px;
}

.board_a {
    flex: 1;
    font-weight: bold;
}

.board_left {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 15px;
}

.writer,
.date,
.view {
    position: relative;
    line-height: 15px;
    height: 15px;
}

.writer::before,
.date::before {
    content: '';
    position: absolute;
    top: 1.5px;
    right: -10px;
    width: 1px;
    height: 12px;
    background-color: #eee;
}

.board > li::before {
    content: counter(item);
    margin-right: 10px;
    width: 30px;
    text-align: center;
}

.board > li:nth-of-type(1) {
    margin-top: 0px;
}

.board > li:nth-last-child(1) {
    border: none;
}

.page_btnBox {
    display: flex;
    justify-content: right;
}

.page_btnBox > div {
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.plus_btn {
    font-size: 20px;
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.plus_btn > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}