/* 네프론이란? */
.nephron {
    width: 100%;
    height: 600px;
    background-color: #EBF3D3;
}

.n_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.n_imgBox {
    width: 350px;
    height: 100%;
    align-content: end;
    text-align: center;
}

.n_more {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: white;
    margin-bottom: 80px;
    font-size: 19px;
    font-weight: 900;
    box-shadow: 5px 5px 3px 3px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
}

.n_more:hover {
    box-shadow: inset 5px 5px 3px 3px rgba(0,0,0,0.1);
    background-color: var(--main-color);
    color: white;
}

.n_imgBox img {
    width: 350px;
    margin-bottom: 120px;
}

.n_textBox {
    height: 100%;
    align-content: center;
    font-size: 21px;
}

.n_textBox h1 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 60px;
    color: var(--mainDark-color);
}

.n_textBox p {
    line-height: 50px;
}
